{% load my_tags %}
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th scope="col">Username</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Age</th>
            <th scope="col">E-mail</th>
            <th scope="col">Staff</th>
            <th scope="col">Active</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            {% if object.is_active %}
            <tr>
            {% else %}
            <tr style="opacity: 0.5">
            {% endif %}
            <td>
                <img class="img-small" src="{{ object.avatar|media_folder_users }}" alt="">
            </td>
                <td>
                    <a href="{% url 'adminapp:user_edit' object.pk %}">{{ object.username }}</a>
                </td>
                <td>
                    <h5>{{ object.first_name }}</h5>
                </td>
                <td>
                    <h5>{{ object.last_name }}</h5>
                </td>
                <td>
                    <h5>{{ object.age }}</h5>
                </td>
                <td>
                    <h5>{{ object.email }}</h5>
                </td>
                <td>
                    <h5>{{ object.is_staff }}</h5>
                </td>
                <td>
                    <h5>{{ object.is_active }}</h5>
                </td>
                <td>
                    {% if object.is_active %}
                    <form action={% url 'adminapp:user_delete' object.pk %} method='post'>
                        {% csrf_token %}
                        <button class="btn btn-danger">Удалить</button>
                    </form>
                    {% else %}
                    <form action={% url 'adminapp:user_delete' object.pk %} method='post'>
                        {% csrf_token %}
                        <button class="btn btn-danger">Восстановить</button>
                    </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
