<div class="sidebar-categories">
    <div class="head">Browse Categories</div>
    <ul class="main-categories">
        <li class="common-filter">
            <form action="#">
                <ul>
                    <li class="filter-list">
                        <input class="pixel-radio"
                                   type="radio"
                                   id=0
                                   name="brand"
                                   checked="true">
                            <label for=0>
                                Все
                            </label>
                    </li>
                    {% for category, count in categories.items %}
                        <li class="filter-list">
                            <input class="pixel-radio"
                                   type="radio"
                                   id={{ category.id }}
                                   name="brand">
                            <label for={{ category.id }}>
                                {{ category.name }}
                                <span>
                                    ({{ count }})
                                </span>
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </form>
        </li>
    </ul>
</div>
<script>
    let radio = document.getElementsByName('brand')
    radio.forEach(function (item) {
            item.addEventListener("change", function (event) {
                document.location.href = '/category/' + item.id
            })
        if(window.location.pathname.split('/')[2] == item.id){
            item.checked = true
            }
        }
    )
</script>