<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
        </tr>
        </thead>
        <tbody>

        {% for el in basket %}
            {{ el.user_id.email }}
            <tr>
                <td>
                    <div class="media">
                        <div class="d-flex">
                            <img src='/media/{{ el.product.image }}' alt="" class="img-small">
                        </div>
                        <div class="media-body">
                            <a href="{% url 'product:product-page' el.product.pk %}">{{ el.product.name }}</a>
                        </div>
                    </div>
                </td>
                <td>
                    <h5 name="price" data-price={{ el.product.price }}>${{ el.product.price }}</h5>
                </td>
                <td>
                    <div class="product_count">
                        <input type="number" id="sst" name="quantity" min="1" max="{{ el.product.quantity|add:el.quantity }}"
                               data-quantity={{ el.quantity }} data-pk={{ el.product.pk }}
                               value="{{ el.quantity }}" class="input-text qty">
                        <i id="remove" class="lnr lnr-trash" data-el={{ el.pk }}></i>
                    </div>
                </td>
                <td>
                    <h5 name="prod-result"> ${{ el.product_cost }} <h5>

                </td>
            </tr>
        {% endfor %}
        <tr>
            <td>

            </td>
            <td>

            </td>
            <td>
                <h5>Total</h5>
            </td>
            <td>
                <h5 name="total">${{ basket.0.total_price }}</h5>
            </td>
        </tr>
        <tr class="out_button_area">
            <td class="d-none-l">

            </td>
            <td class="">

            </td>

            <div class="checkout_btn_inner d-flex align-items-center">
            <td>
                <a class="btn btn-primary" href="{% url 'main:category' %}">Продолжить покупки</a>
            </td>
            <td>
                <a class="btn btn-success" href="{% url 'orderapp:order_create' %}">Оформить заказ</a>
            </td>
            </div>


        </tr>
        </tbody>
    </table>
</div>
