{% extends 'base.html' %}
{% load static %}

{% block body %}
    <!-- ================ start banner area ================= -->
    <section class="blog-banner-area" id="category">
        <div class="container h-100">
            <div class="blog-banner">
                <div class="text-center">
                    <h1>Edit Profile</h1>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ end banner area ================= -->


    <!--================Tracking Box Area =================-->
    <section class="tracking_box_area section-margin--small">
        <div class="container">
            <div class="tracking_box_inner row">
                <p class="col-md-4">
                    <img src="/media/ {{ user.avatar }}" alt="">
                </p>
                <form class="row tracking_form" action="#" method="post" novalidate="novalidate">
                    {% csrf_token %}
                    {{ form.as_div }}

                    <div class="col-md-12 form-group">
                        <button type="submit" value="submit" class="button button-register w-100" formmethod="post">Сохранить</button>
                    </div>
                </form>


            </div>
{#            <div class="tracking_box_inner row">#}
{#                <p class="col-md-4">#}
{##}
{#                </p>#}
{#                <form class="row tracking_form" action={% url 'auth:change-password' %}>#}
{##}
{#                    <div class="col-md-12">#}
{#                        <button class="button button-register w-100">Сменить пароль</button>#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
        </div>
    </section>
    <!--================End Tracking Box Area =================-->
{% endblock %}

