{% extends 'base.html' %}
{% load static %}
{% block body %}
    <!-- ================ start banner area ================= -->
    <section class="blog-banner-area" id="category">
        <div class="container h-100">
            <div class="blog-banner">
                <div class="text-center">
                    <h1>Users</h1>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Users</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ end banner area ================= -->

    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                {% include 'adminapp/includes/inc__users_area.html' %}
            </div>
        </div>
    </section>


{% endblock %}