{% extends 'base.html' %}
{% load static %}

{% block body %}
    <!-- ================ start banner area ================= -->
    <section class="blog-banner-area" id="category">
        <div class="container h-100">
            <div class="blog-banner">
                <div class="text-center">
                    <h1>{{ title|title }}</h1>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ end banner area ================= -->


    <!--================Tracking Box Area =================-->
    <section class="tracking_box_area section-margin--small">
        <div class="container">
            <div class="tracking_box_inner row">
{#                <p class="col-md-4">#}
{#                    <img class="img-big" src="/media/{{ user.avatar }}" alt="">#}
{#                </p>#}
                <form class="row tracking_form" action="" method="post" novalidate="novalidate" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_div }}

                    <table class="table">
                {{ orderitems.management_form }}
                {% for form in orderitems.forms %}
                    {% if forloop.first %}
                        <thead>
                        <tr>
                            {% for field in form.visible_fields %}
                                <th class="{% cycle 'td1' 'td2' 'td3' %} order formset_td">
                                    {{ field.label|capfirst }}
                                </th>
                            {% endfor %}
                        </tr>
                        </thead>
                    {% endif %}
                    <tr class="formset_row">
                        {% for field in form.visible_fields %}
                            <td class="{% cycle 'td1' 'td2' 'td3' %} order formset_td">
                                {% if forloop.first %}
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                {% endif %}
                                {{ field.errors.as_ul }}
                                {{ field }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>

                    <div class="col-md-12 form-group">
                        <button type="submit" class="button button-register w-100">Сохранить</button>
                    </div>
                </form>


            </div>
{#            <div class="tracking_box_inner row">#}
{#                <p class="col-md-4">#}
{##}
{#                </p>#}
{#                <form class="row tracking_form" action={% url 'auth:change-password' %}>#}
{##}
{#                    <div class="col-md-12">#}
{#                        <button class="button button-register w-100">Сменить пароль</button>#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
        </div>
    </section>
    <!--================End Tracking Box Area =================-->
{% endblock %}

